/* Dark theme specific styles */
body.dark-theme {
    background-color: #1a1a1a;
    color: #f8f9fa;
}

body.dark-theme .navbar-custom {
    background-color: #000000;
    /* Darker border color for better blending */
    border-color: #202020;
}

body.dark-theme .btn-custom {
    color: #d1d1d1;
    background-color: transparent;
    /* Adjust border color for buttons */
    border: 1px solid #303030;
}

/* set active btn color */
body.dark-theme .btn-custom:active {
    background-color: #e7e7e7;
    color: #212529;
    border: 1px solid #303030;
}

body.dark-theme .editor {
    /* Consistent box shadow with a darker theme */
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.2);
    background-color: #1a1a1a;
    color: #f8f9fa;
}

body.dark-theme .section {
    background-color: #1a1a1a;
    color: #f8f9fa;
    /* Darker border for sections if necessary */
    /*border: 1px solid #303030;*/
}

body.dark-theme .section-card {
    background-color: #1a1a1a;
    color: #f8f9fa;
    /* Dark border for section cards */
    border-bottom: 1px solid #303030;
}

body.dark-theme .section-card.active, .btn-custom:active {
    background-color: #565e68;
    color: #f8f9fa;
}

body.dark-theme .section-title {
    color: #d1d1d1;
}
