html,
body {
    height: 100%;
    /* Ensures the body takes full viewport height */
    margin: 0;
    /* Removes default margin */
    padding: 0;
    /* Removes default padding */
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #212529;
}

/* Common styles for all three sections */
.section {
    height: 84vh;
    /* Sets height relative to viewport */
    overflow-y: auto;
    /* Enables scrolling for overflow content */
    border-radius: 10px;
    margin-bottom: 20px;
    /* Margin for spacing */
    
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    /* Foreground and background colors */
}


/* Custom button styles */
.navbar-custom {
    padding: 0; /* Removes padding */
    height: 40px; /* Adjusted for a super thin navbar */
    background-color: #f8f9fa; /* A light gray background */
    border-bottom: 1px solid #e2e2e2; /* A lighter border for subtle separation */
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will take care of the spacing of elements */
}

.btn-custom {
    padding: 5px 10px;
    font-size: 0.8rem;
    line-height: 1;
    height: auto;
    color: #5a5a5a; /* Darker text for better readability */
    background-color: transparent; /* Transparent background */
    border: 1px solid #d7d7d7; /* Slightly visible border */
    transition: background-color 0.2s; /* Smooth transition for background color */
}

.btn-custom:active {
    background-color: #d0d0d0; /* Slightly darker background to indicate being pressed */
    border-color: #bababa; /* Optional: darken the border color as well */
    outline: none; /* It's a good practice to remove the outline for a clean look */
}

/* Optional: Add focus state if you want to maintain the pressed look while the button is focused */
.btn-custom:focus {
    background-color: #d0d0d0;
    border-color: #bababa;
    box-shadow: none; /* Remove Bootstrap's default focus glow */
}

.btn-custom:hover {
    background-color: #e7e7e7; /* Slightly darker background on hover */
}

/* Optionally, adjust the margin or padding of the navbar contents if necessary */
.container-fluid {
    margin: 0;
    padding: 15px;
}

.container-fluid .navbar-nav {
    margin: 0;
    padding: 0;
}

.navbar .container-fluid {
    /* set left and right padding to 15px for container-fluid within navbar */
    /* 5 for top and bottom padding */
    padding: 5px 20px;
}




/* Specific styles for the editor */
.editor {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(100, 99, 99, 0.1);
    padding: 20px;
    /*max-width: 795px;*/
    width: 100%;
    /* Max width */
    margin: auto;
    height: 100%;
    overflow-y: scroll;
    /* 14 px sans-serif font size */
    font-size: 14px;
    /* font-family: Sans-serif; */
    font-family: 'sans-serif', 'Arial';
}

/* Custom thin scrollbar for Webkit browsers */
/* Apply common scrollbar styles to both .editor and .section */
.editor,
.section {
    overflow-y: scroll;
    /* Always show vertical scrollbar */
}

/* Custom thin scrollbar for Webkit browsers */
.editor::-webkit-scrollbar,
.section::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
    background: transparent;
    /* Initially hide scrollbar background */
}

.editor::-webkit-scrollbar-thumb,
.section::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0);
    /* Make scrollbar thumb transparent */
    border-radius: 10px;
}

/* Show scrollbar thumb on hover for .editor and .section */
.editor:hover::-webkit-scrollbar-thumb,
.section:hover::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.5);
    /* Visible scrollbar thumb color on hover */
}

/* Styles for browsers that support scrollbar styling */
.editor,
.section {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: rgba(136, 136, 136, 0) transparent;
    /* Firefox */
}

.editor:hover,
.section:hover {
    scrollbar-color: rgba(136, 136, 136, 0.5) transparent;
    /* Firefox scrollbar thumb visible on hover */
}


.section-title {
    font-size: 0.8 rem; /* Adjust the size as needed */
    font-weight: bold;
    margin: 2px 0; /* Add some spacing around the title */
    color: #333; /* Text color for the title */
}

.section-card {
    cursor: pointer; /* Change cursor to indicate it's clickable */
    transition: background-color 0.2s; /* Smooth transition for background color */
}

.section-card.active {
    background-color: #e8e8e8; /* Highlight color for active card */
}

.faded {
    color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    font-style: italic;
  }

/* Suggestion text styles */
.suggestion {
    color: #8b8b8b7d; /* Blue color for suggestions */
    transition: color 0.2s; /* Smooth transition for text color */
}


